################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Win
/Wind
/Linux
*.prg
/UnitTesting/x64
/UnitTesting/UnitTesting/x64
/UnitTesting/UnitTesting/.vs
/UnitTesting/.vs
/UnitTesting
/Commodore
/Win_
*.asm
/test.asm
/testadressingmodes.asm
