################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Win
/Wind
/Linux
*.prg
/UnitTesting/x64
/Win_
/UnitTesting/.vs/UnitTesting/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
/UnitTesting/.vs/UnitTesting/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
/UnitTesting/.vs/UnitTesting/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
/UnitTesting/.vs/UnitTesting/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
/UnitTesting/.vs/UnitTesting/FileContentIndex/0f165df6-e5db-4358-a784-241deff74145.vsidx
/UnitTesting/.vs/UnitTesting/FileContentIndex/d0efce61-2d3a-4fc8-9488-5fad882b64f8.vsidx
/UnitTesting/.vs/UnitTesting/v17/.suo
/UnitTesting/.vs/UnitTesting/v17/Browse.VC.db
/UnitTesting/.vs/UnitTesting/v17/Browse.VC.db-shm
/UnitTesting/.vs/UnitTesting/v17/Browse.VC.opendb
/UnitTesting/UnitTesting/x64/Debug/UnitTesting.ilk
/UnitTesting/UnitTesting/x64/Debug/UnitTesting.log
/UnitTesting/UnitTesting/x64/Debug/UnitTesting.tlog/CL.command.1.tlog
/UnitTesting/UnitTesting/x64/Debug/UnitTesting.tlog/link.read.1.tlog
/UnitTesting/UnitTesting/x64/Debug/UnitTesting.obj
/UnitTesting/UnitTesting/x64/Debug/vc143.idb
/UnitTesting/UnitTesting/x64/Debug/vc143.pdb
